<div class="card postCard mt-5 mb-4" id="post-{{post.id}}">
    <div class="card-header row m-0 p-1">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <a href={{url_for("userposts", id = post.author)}}>
                <img class="postAvatar rounded-circle" src={{post.avatar_url}} alt="" width="60px" height="60px">
            </a>
        </div>
        <div class="col-6 col-md-5 pl-5 pt-2 m-0 d-flex justify-content-start align-items-center">
            <a href={{url_for("userposts", id = post.author)}}>
                <h5>{{post.username}}</h5>
            </a>
        </div>
        <div class="col-8 col-md-6 p-0 p-md-2 pr-0 pr-md-3 m-0 d-flex justify-content-end align-items-center">
            {% if post.updated != post.timestamp %}
            <small>updated on {{post.updated}}</small> 
            {% else %}
            <small>posted on {{post.timestamp}}</small>
            {% endif %}

            {% if current_user.id == post.author %}
                <a class="ml-3 editBtn" data-toggle="collapse" data-target="#collapseEditPost_{{post.id}}" aria-expanded="false" aria-controls="collapseEditPost_{{post.id}}" ><i class="far fa-edit"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if post.image_url %}
            <img class="card-img mb-3 postImg" alt='post_img' src={{post.image_url}} />
        {% endif %}
        <p class="card-text p-3">{{post.body}}</p>
        <em><a class="p-3 muted" href="/post/{{post.id}}">+ Readmore</a></em>
        <div class="collapse" id="collapseEditPost_{{post.id}}">
                {% include 'views/_editpost.html' %}
        </div>
        <hr class="mt-3"/>
        <div class="row container m-0 px-0">
            <div class="col-4 iconContainer d-flex justify-content-between">
                <form id="likeForm_{{post.id}}" action={{url_for("likePost", id = post.id)}} method='POST'>
                    <button form="likeForm_{{post.id}}" href="#" type="submit" class="py-1 shadow-none" >
                        {% if post.likes > 0 %}
                            {{post.likes}}
                        {% else %}
                            0
                        {% endif %}
                        {% if post.currentUserLike %}
                            <i class="fas fa-heart larger ml-2"></i>
                        {% else %}
                            <i class="far fa-heart larger ml-2"></i>
                        {% endif %}
                    </button>
                </form>
                <form id="thumbsUpForm_{{post.id}}" action={{url_for("thumbsUpPost", id = post.id)}} method='POST'>
                        <button form="thumbsUpForm_{{post.id}}" href="#" type="submit" >
                            {% if post.thumbsUps > 0 %}
                                {{post.thumbsUps}}
                            {% else %}
                                0
                            {% endif %}
                            {% if post.currentUserThumbsUp %}
                                <i class="fas fa-thumbs-up larger ml-2"></i>
                            {% else %}
                                <i class="far fa-thumbs-up larger ml-2"></i>
                            {% endif %}
                        </button>
                </form>
                <form id="thumbsDownForm_{{post.id}}" action={{url_for("thumbsDownPost", id = post.id)}} method='POST'>
                        <button form="thumbsDownForm_{{post.id}}" href="#" type="submit" >
                            {% if post.thumbsDowns > 0 %}
                                {{post.thumbsDowns}}
                            {% else %}
                                0
                            {% endif %}
                            {% if post.currentUserThumbsDown %}
                                <i class="fas fa-thumbs-down larger ml-2"></i>
                            {% else %}
                                <i class="far fa-thumbs-down larger ml-2"></i>
                            {% endif %}
                        </button>
                </form>
                <form>
                    <button><i class="far fa-eye mx-2"></i>{{post.views_count}}</button>
                </form>
            </div>
            <div class="col-4">
            
            </div>
            <div class="col-4 p-0 iconContainer">
                <button href="#" class="float-right" data-toggle="collapse" data-target="#collapseCommentSection_{{post.id}}" aria-expanded="false" aria-controls="collapseCommentSection_{{post.id}}" onmouseover="">
                    {% if post.comments == 1 %}
                        <span>1 comment</span>
                    {% elif post.comments > 1 %}
                        <span>{{post.comments}} comments</span>
                    {% endif %}
                    <i class="fas fa-comments larger ml-2"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- <hr/> -->
    <div class="collapse" id="collapseCommentSection_{{post.id}}">
        {% for comment in comments %}
            {% if comment.post_id == post.id %}
                {% include 'views/_comment.html' %}
                <!-- <hr/> -->
            {% endif %}
        {% endfor %}
        <div class="card-footer">
            <a href="#" class="btn btn-primary float-right" data-toggle="collapse" data-target="#collapseCommentEditor_{{post.id}}" aria-expanded="false" aria-controls="collapseCommentEditor_{{post.id}}">Comment</a>
        </div>
        <div class="collapse" id="collapseCommentEditor_{{post.id}}">
            {% include 'views/_createcomment.html' %}
        </div>
    </div>    
</div>